.formfill {
    background-color: #444444;
    color: #ffffff;
    padding: 30px 50px 30px 50px;
    width: 400px;
    text-align: center;
}

.fill {
    padding: 50px;
    width: 600px;
    text-align: center;
}

.jumbotron {
    text-align: center;
    padding: 2em 0em;
    padding-bottom: 0em;
}


body {
    background-color: #f7f7f9;
}

.loginbutton{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20 20 20 20;
}

.form-group {
    margin: 10px;
}