<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <div class="jumbotron">
        <h1 class="display-3">chat</h1>
        <p class="lead">communicate. collaborate. create.</p>
    </div>
    <hr class="my-4">
    <div class="container formfill">
        <form id="local-signup" name="local-signup" method="post" action="/signup">
            <div class="form-row form-group">
                <label for="firstname">Firstname</label>
                <input class="form-control-sm form-control" name="firstname" type="text" />
                <label for="lastname">Lastname</label>
                <input class="form-control-sm form-control" name="lastname" type="text" />
            </div>
            <div class="form-row form-group">
                <label for="email">Email Address</label>
                <input class="form-control-sm form-control" name="email" type="email" id="userEmail" />
                <label for="password">Password</label>
                <input class="form-control-sm form-control" name="password" type="password" />
            </div>
            <div class="form-row form-group">
                <label for="username">Username</label>
                <input class="form-control-sm form-control" name="username" type="text" /><br><br>
            </div>
            <input class="btn form-control-sm form-control" type="submit" value="Sign Up" id="localLoginButton" />
    </div>
    </form>
    </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>